.power {
  background: url("/static/images/content/bg-section3.png") center center no-repeat,#0d0d0d;
  background-size: 98% 100%;

  & h2 {
    font-weight: bold;
    font-size: 3.25rem;

  }
  & p {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;


  }

  &__link {
    display: inline-block;
    margin-top: 4.75rem;
    margin-left: 6.8rem;
    font-size: 0.875rem;
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    color:$white;
    &:before {
      position: absolute;
      content: '';
      top: calc(50% - 1px);
      left: -306%;
      width: 450%;
      max-width: 460px;
      height: 2px;
      background: $orange;



    }
  }


}


.power-wrap{
  position: relative;
  max-width: 1490px;
  //max-height: 1000px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  padding: 15rem 10px 30rem;
  flex-wrap: wrap;
}

.power__links {
  position: absolute;
  bottom: 2rem;
  left: 0;


}

.social-link{
  & a {
    display: inline-block;
    color: $white;
    font-size: 0.875rem;
    margin-right: 3em;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 300;
  }
}
.power__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 40%;
}

.power__aroundview {
  margin-right: 3rem;
  max-width: 50rem;
  position: relative;
}

.cloudimage-360 {
  position: absolute;
  max-width: 80%;
  height: auto;
  max-height: 325px;
  content: '';
  top: -270%;
  right: -6rem;
  z-index: 10;

}

.power-play {
  position: absolute;
  top: 0;
  right: 11rem;
  background: $orange;
  border-radius: 50%;
  width: 99px;
  height: 99px;
  border:none;
  cursor: pointer;
  &:before {
    position: absolute;
    top:calc(50% - 16px);
    left: calc(50% - 12px);
    content: '';
    width: 28px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='28.5px' height='32.5px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(255, 255, 255)' stroke-width='3px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M25.498,15.500 L1.502,1.503 L1.502,29.496 L25.498,15.500 '/%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
}

.elips {
  position: absolute;
  top: 22rem;
  right:4rem;
  width: 700px;
  height:115px;
  background: transparent;
  border-radius: 50%;
  border:2px solid $orange;
  z-index: 2;
  &__text {
    position: absolute;
    text-align: center;
    width: 40px;
    height: 10px;
    background: #020100;
    top: 6.5rem;
    right: 23rem;
  }
}

.mobile-img {
  display: none;
}
